body {
    background: url(./Images/indomie-plain-background.jpg);
}
.header_block{
    padding-top: 10px;
    width: 100%; height: auto;
}
.right_side{
    padding-right: 10px;
}
.main-navigation{
    margin-right: 30px;
}
.about-banner{
    width: 100%; height: auto; padding-bottom: 4vw;
    padding: 0; margin: 0; box-sizing: border-box;
}
.about-banner .container{
    height: auto; padding: 3.5vw 5vw; max-width: 87%;
    background: red url(./Images/inner-banner-bg.jpg) top center;
    border-radius: 2vw;
}
.container, .container-fluid{
    margin-right: auto; margin-left: auto;
}
.container{
    width: 100%; padding:0 15px; max-width: 89%; margin:0 auto;
    box-sizing: border-box;
}
.about-banner .container h2{
    font-size: 3vw; line-height: 3vw; margin-bottom: 1vw;
    color: white; text-transform: uppercase; position: relative;
}
h2{
    margin: 0; color: black; font-family: amsiprocond-black;
    font-size: 3em; font-weight: normal; font-style: normal; line-height: 1;
    box-sizing: border-box;
}
.about-banner .container img{
    border-radius: 2vw; width: 100%; height: auto; border-radius: 10px;
}
.plate{
    opacity: 1; transition:opacity 400ms; transition-delay: 0ms;
}
img{
    border: 0; vertical-align: middle; max-width: 100%; height: auto;
    padding: 0; margin: 0; box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    font-weight: 400;
}

div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.indomie-logo{
    width: 100%;
    height: auto;
}
.nav-list{
    margin: 0;
    padding:1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;
}
.nav-item a{
    text-decoration: none;
    font: 16px amsiprocond-black;
    color: black;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.nav-item a:hover{
    color: red;
}
